<head>
    <meta charset="UTF-8">
    <meta name="css/author" content="FINNSEEFLY">
    <meta name="viewport" content="width=device-width"/>
    <link href="styles/global.css" rel="stylesheet" type="text/css"/>
    <link href="styles/fontDeclaration.css" rel="stylesheet" type="text/css"/>
    <title>{{title}}</title>
</head>