<!DOCTYPE html>
<html lang="ru-ru">
{{>defaulthead}}
<body>
<div class="grid">
    {{>header}}
    {{{body}}}
    {{>footer}}
</div>
{{#if scriptsAfter}}
    {{#each scriptsAfter}}
        <script src={{{this}}}> </script>
    {{/each}}
{{/if}}
</body>
</html>